padding-top

.main-nav {
    background-color: #eee; /* light gray */
  }

  .main-nav a {
    color: #4b8568;         /* dark green */
  }

  .main-nav ul {
    list-style-type: none;  /* Hide the bullets */
    display: flex;          /* Arrange horizontally, not vertically */
  }

  .main-nav li {
    padding: 1em 2em;           /* Add a little space around each link */
  }

  .main-nav .active {
    background-color: #4b8568;  /* dark green, same as link color */
  }

  .main-nav .active a {
    color: #eee;            /* light gray, same as navbar */
  }

.main-nav {
    text-align: center;
}


  * {

    text-align: center;
    
    }
  
    body {
        margin-top: 10px;
    }

  section {
    padding: 20px;
  }
  

.portfolio-item {
    display: inline-block;
    width: 300px;
    margin: 10px;
  }
  
  .portfolio-item img {
    height: auto;
  }
  
  
  .portfolio-item p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

